.carousel .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
 
}

.carousel .swiper-slide {
  background: none;
  background-position: center;
  background-size: cover;
  width: 400px;
  
  
}

.carousel .swiper-slide img {
  width: 100%;
  height: 100%;
  
}
